{%extends 'base.html'%}
{%block content%}
<div class="container" style="font-family: 'Jost', sans-serif;">
    <h1>Welcome {{user.username}}</h1>
    <a href="{%url 'newPost'%}">
        <button type="submit" class="btn btn-sm btn-outline-default" style="margin-top:14px; margin-left:-10px">Add
            post</button>
    </a>
    <hr>
    <div class="row">
        <div class="col-11">
            <div class="row">
                {%for post in posts%}
                <div class="col-md-8" style="border: light 2px;">
                    <div class="card m-3">
                        <img src="{{post.image.url}}" class="img-fluid" height="50px">
                        <a href="{%url 'comment' post.id %}" class="pl-3">
                           <p>{{post.comments.Count}}</p>
                            View all comments
                    
                        </a>
                        <div class="row pl-4">
                            <a href="" ><i class="fas fa-heart h2 fa-fw pr-3"></i>
                            <a href="{% url 'comment' post.id %}"><i class="fas fa-comment h2 fa-fw pr-3"></i></a>
                            <!-- <p>likes: {{total_likes}}</p> -->
                        </div>
                        
                        <p><strong class="text-secondary pl-3" >{{post.profile}}</strong> {{post.imageCaption}}</p>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
                {%endfor%}
            </div>

        </div>

        <div class="col-1">
            <h3>People</h3>
            <hr>
                <a>
                    <div class="row">
                        {%for prof in profile%}  
                        <img src="{{prof.user.profile.profilephoto.url}}" alt="oops!"
                                class="rounded-circle border ml-3 mt-2 mr-3" height="50px" width="50px">
                                <a href="{%url "prof" %}" class="h3">{{prof.user}}</a>
                        {%endfor%}
                    </div>
                </a>
        </div>
    </div>

    {%endblock content%}