{%extends "base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container" style="font-family: 'Jost', sans-serif;">
    <div class="row">

        <div class="col-md-6 mx-auto card p-5 mt-5">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="text-center">New Post</h3>
                </div>
                <div class="panel-body">

                    <form action="{%url 'newPost'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Post">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}